# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / OS
.DS_Store
.idea/
.vscode/

# Project specific
*_chart.png
bhavcopy_cache/
data_cache/
*.parquet
*.csv.gz

outputs/
tp/
monitor_state.json
tp.md
Quant_backend/front_testing/
tvdatafeed/
tp.txt
experiment_log.csv
